# Python
__pycache__/
*.py[cod]
*$py.class
*.bak

# Virtual Environment
.venv/
venv/
ENV/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Secrets
.env
*.token

# IDEs
.vscode/
.idea/

# OS artifacts
Thumbs.db
.DS_Store
